{{/*
  bg-images/private/utils/options-error.html 
    Formats error message for consistency
    See logic for different conditions and error messages

  @author @sean-au

  @context (dict)
    "val" (string) - variable value (user input)
    "opts" (string)  correct options
    "var" (string) - variable name in error (required)
    "ctx" (map)
      .ctx - page context (required)
      .img - image page resource object
      .element - element name e.g bg-image/image (required)
      .module - module name (required)
      .input - description e.g. picture shortcode

  @access private

  @example - Go Template
    {{ partial "bg-images/private/utils/options-error" (dict 
    "var" "aspect_ratio array item"
    "val" .
    "opts" "2x integers in an array/slice"
    "ctx" $params
    ) }}

    Input missing:
    {{ partial "bg-images/private/utils/options-error" (dict 
    "var" "aspect_ratio array item"
    "ctx" $params
    ) }}

*/}}

{{ $message := "" }}
{{ if not .val }}
  {{ if not .ctx.img }}
    {{ $message = printf "Config item \"%s\" on page %s has not been provided." .var .ctx.ctx.RelPermalink }}
  {{ else }}
    {{ $message = printf "Config item \"%s\" for %s %s on page %s has not been provided." .var .ctx.element .ctx.img.RelPermalink .ctx.ctx.RelPermalink }}
  {{ end }}
{{ else }}
  {{ $message = printf "Invalid config \"%s\" value of \"%v\" for %s %s %s on page %s. Must be %s."  .var .val .ctx.input .ctx.element .ctx.img.RelPermalink .ctx.ctx.RelPermalink .opts }}
{{ end }}


{{ $error := partial "img-common/private/utils/errorf" (dict "message" $message "module" .ctx.module) }}

