{{/*
  process-shortcode-params.html
  Checks for string-arrays and string-integers and converts to arrays and integers

  @author @sean-au

  @context map of .Params from shortcode

  @return input sanitized

  @access private

  @example - Go Template
  {{ partial "hri/private/utils/process-shortcode-params" .Params }}
  
*/}}

{{/* the verbose form below doesnt work */}}
{{/* $params = apply $params "partial" "hri/private/utils/string-to-array" "." */}}
{{/* $params := apply . "partial" "hri/private/utils/string-to-int" "." */}}


{{/* convert any comma delimited string-arrays to arrays */}}
{{ $arrays := dict}}
{{ range $key, $elem := . }}
  {{/* only convert comma delim string to array if one of the following keys */}}
  {{ $toProcess := slice "widths" "aspect_ratio" "fill_ratio" "densities" "formats"}}
  {{ if in $toProcess $key }}
    {{/* work on the elem and reassign */}}
    {{ $elem = partial "hri/private/utils/string-to-array" $elem }}
  {{ end }}
  {{/* create a new, identical dict as the original context */}}
  {{ $arrays = merge $arrays (dict $key $elem) }}
{{ end }}

{{/* convert any string-integers to integers */}}
{{ $ints := dict}}
{{ range $key, $elem := $arrays }}
  {{ $elem = partial "hri/private/utils/string-to-int" $elem }}
  {{ $ints = merge $ints (dict $key $elem) }}
{{ end }}



{{ return $ints }}
