{{/*
  string-to-int.html
  Converts string-integers to integers

  @author @sean-au

  @context slice or string

  @return input with string-integer elements converted to integers

  @access private

  @example - Go Template
  {{ partial "hri/private/utils/string-to-int" (slice "1" "2" "3") }}
  {{ partial "hri/private/utils/string-to-int" "3" }}
  
*/}}

{{ $param := . }}

{{/* check for array and recurse, else process */}}
{{ if reflect.IsSlice $param }}
  {{/* run this partial for each element in array */}}
    {{ $param = apply $param "partial" "hri/private/utils/string-to-int" "." }}
{{ else }}
  {{/* check for integer */}}
  {{/* if only numbers FIX */}}
  
  {{/* doesnt work as letters are also being let through */}}
  {{ if eq (printf "%T" $param) "int" }}
    {{ $param = int $param }}
  {{ end }}
{{ end }}

{{ return $param }}
