{{- /**********************************
  **** loop over each image format ****
  *************************************/ -}}
{{- $picture := dict -}}
{{- $options := .options -}}
{{- range $format := .partial.page.Param "image.formats" -}}
  {{- /* add format to options array (for format transformation) if not original */ -}}
  {{- if ne $format "original" -}}
    {{ $options = $options | append $format -}}
  {{- end -}}
  {{- /* change options array into space delimited string. new variable created so its unique to this iteration */ -}}
  {{- $optionsString := delimit $options " " -}}
  {{- /***********************************
    **** loop over each width         ****
    **************************************/ -}}
  {{ $srcset := slice }}
  {{ $src := "" }}
  {{- range $index, $width := $.widths -}}
    {{- $imgResized := "" -}}
    {{- /* output images with altered aspect ratio, if .fillRatio is provided */ -}}
    {{- if .partial.fillRatio -}}
      {{- /* resulting fillHeight must be converted to integer for use with image resize */ -}}
      {{- $fillHeight := mul $width .partial.fillRatio | int -}}
      {{- if or (gt $width.width $.img.Width) (gt $fillHeight $.img.Height) -}}
        {{- warnf "Source image %s (%dx%dpx) is not large enough to resize to %dx%dpx" $.img.RelPermalink $.img.Width $.img.Height $width $fillHeight -}}
      {{- end -}}
      {{- /* resize image */ -}}
      {{- $imgResized = $.img.Fill (printf "%dx%d %s %s %s" $width.width $fillHeight $optionsString) -}}
    {{- else -}}
      {{- /* do standard image resize */ -}}
      {{- if gt $width.width $.img.Width -}}
      {{- warnf "Source image %s (%dx%dpx) is not wide enough to resize to %dpx" $.img.RelPermalink $.img.Width $.img.Height $width.width -}}
      {{- end -}}
      {{- /* resize image */ -}}
      {{- $imgResized = $.img.Resize (printf "%dx %s %s" $width.width $optionsString) -}}
    {{- end -}}
    {{- /* add image to srcset array with format "/path/image.jpg 100w" or "/path/image.jpg 1x"  */ -}}
    {{- $srcset = $srcset | append (printf "%s %s" $imgResized.RelPermalink $width.desc) -}}
    {{- /* if .width and 1x density (First iteration), add image to src variable for use as fallback */ -}}
    {{- if .partial.width  -}}
      {{- if eq $index 0 -}}
        {{ $src = $imgResized -}}
      {{- end -}}
    {{- else -}}
      {{- /* else largest width (last iteration), add image to src variable for use as fallback */ -}}
      {{- if eq (len $.widths) (add $index 1) -}}
        {{ $src = $imgResized -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
  {{- /* convert srcset array into a string, delimit with , between each image */ -}}
  {{- $srcset := delimit $srcset ", " -}}
  {{- /* add $srcset and $src to map {original: {srcset: $srcset, src: $src}, webp: {srcset: $srcset, src: $src}, etc. */ -}}
  {{- $picture = merge $picture (dict $format (dict "srcset" $srcset "src" $src)) -}}
{{- end -}}
{{- return $picture -}}
