{{ $placeholder := false }}

{{ with .params.placeholderType }}
  {{ if eq . "lqip" }}
    {{ $placeholder = $.src.Resize (printf "%vx gif" (div $.src.Width $.params.lqipDivFactor | int)) }}
    {{ $placeholder = $placeholder.Filter (images.GaussianBlur $.params.lqipBlurAmount) }}
  {{ else }}
    {{ if eq . "dominant" }}
      {{ $placeholder = $.src.Resize "1x1 gif" }}
    {{ else }}
      {{ with resources.Get (printf "images/placeholder-colors/%s.gif" . ) }}
        {{ $placeholder = . }}
      {{ else }}
        {{ errorf "Placeholder assets/images/placeholder-colors/%s.gif for image %s on page %s cannot be found." $.params.placeholderType $.params.img.RelPermalink $.page.RelPermalink }}
      {{ end }}
      {{ $placeholder = $placeholder.Resize "1x1 gif" }}
    {{ end }}
    {{ $placeholder = $placeholder.Resize (printf "%vx%v gif" ( div $.src.Width $.params.gifDivFactor | int) (div $.src.Height $.params.gifDivFactor | int)) }}
  {{ end }}
  {{ $placeholder = printf "data:image/gif;base64,%s" ($placeholder.Content | base64Encode) -}}
{{ end }}
{{ return $placeholder }}
