{{ $picture := dict }}
{{- with site.Params.image.provider -}}
  {{- $providerOpts := (slice "netlify") }}
  {{- if in $providerOpts . -}}
    {{ with partial "image-includes/external-api" $ }}
      {{ $picture = . }}
    {{ end }}
  {{ else }}
    {{- $msg := "Invalid configured image api of %v. Valid api's are %s"}}
    {{- errorf $msg .  (delimit $apiOpts ", ") -}}
  {{- end -}}
{{ else }}
  {{ with partial "image-includes/image-api" . }}
    {{ $picture = . }}
  {{ end }}
{{ end }}
{{ return $picture }}
