{{- /**********************************
  **** loop over each image format ****
  *************************************/ -}}
{{ $picture := dict }}
{{ $options := .params.options }}


{{ range $format := .params.formats }}
  {{/* add format to options array (for format transformation) if not original */}}
  {{ if ne $format "original" }}
    {{ $options = $options | append $format }}
  {{ end }}
  {{/* change options array into space delimited string. 
        new options string, srcset and src variables created so they are unique to this iteration */}}
  {{ $optionsString := delimit $options " " }}
  {{/*********************************
    ** loop over each width         **
    **********************************/}}
  {{ $srcset := slice }}
  {{ $src := false }}
  {{ $placeholder := false }}
  {{- range $index, $width := .params.widths -}}
    {{- $imgResized := "" -}}
    {{- /* output images with altered aspect ratio, if .fillRatio is provided */ -}}
    {{- if $.params.fillRatio -}}
      {{- /* resulting fillHeight must be converted to integer for use with image resize */ -}}
      {{- $fillHeight := mul ($width.width | float) $.fillRatio | int -}}
      {{- if and (or (gt $width.width $.param.img.Width) (gt $fillHeight $.param.img.Height)) (ne $.param.suppressWidthWarning true) -}}
        {{- warnf "Source image %s (%dx%dpx) on page %s is not large enough to resize to %dx%dpx." $.param.img.RelPermalink $.param.img.Width $.param.img.Height $.page.RelPermalink $width.width $fillHeight  -}}
      {{- end -}}
      {{- /* resize image */ -}}
      {{- $imgResized = $.param.img.Fill (printf "%dx%d %s %s %s" $width.width $fillHeight $optionsString) -}}
    {{- else -}}
      {{- /* do standard image resize */ -}}
      {{- if and (gt $width.width $.param.img.Width) (ne $.param.suppressWidthWarning true) -}}
        {{- warnf "Source image %s (%dx%dpx) on page %s is not wide enough to resize to %dpx wide." $.param.img.RelPermalink $.param.img.Width $.param.img.Height $.page.RelPermalink $width.width }}
      {{- end -}}
      {{- /* resize image */ -}}
      {{- $imgResized = $.param.img.Resize (printf "%dx %s" $width.width $optionsString) -}}
    {{- end -}}
    {{- /* add image to srcset array with format "/path/image.jpg 100w" or "/path/image.jpg 1x"  */ -}}
    {{- $srcset = $srcset | append (printf "%s %s" $imgResized.RelPermalink $width.desc) -}}
    {{- /* if .width and 1x density (First iteration), add image to src variable for use as fallback */ -}}
    {{ if eq $format "original" }}
      {{ if eq $index 0}}
        {{/* smallest image width for placeholder generation */}}
        {{ with partial "image-includes/generate-placeholder" (dict 
        "src" $imgResized
        "param" $.param
        "page" $.page
        ) }}
          {{ $placeholder = . }}
        {{ end }}
      {{ end }}
      {{/* add smallest image to src for screen density srcset */}}
      {{ if $.param.width }}
        {{ if eq $index 0}}
          {{ $src = $imgResized }}
        {{ end }}
      {{ else if eq (len $.params.widths) (add $index 1) }}
        {{/* else largest width (last iteration), add image to src variable for use as fallback */}}
        {{ $src = $imgResized }}
      {{ end }}
    {{ end }}
  {{- end -}}
  {{- /* convert srcset array into a string, delimit with , between each image */ -}}
  {{- $srcset := delimit $srcset ", " -}}
  {{- /* add $srcset and $src to map {original: {srcset: $srcset, src: $src}, webp: {srcset: $srcset, src: $src}, etc. */ -}}
  {{- $picture = merge $picture (dict $format (dict "srcset" $srcset "src" $src "placeholder" $placeholder)) -}}
{{- end -}}
{{- return $picture -}}
