{{- /***************************
  **** generate picture tag ****
  ******************************/ -}}
<picture>
{{- range $format, $values := .picture }}
  <source
  {{ if eq $.param.loading "lazysizes" }}
    data-srcset="{{ .srcset }}"
  {{- else -}}
    srcset="{{ .srcset }}"
  {{- end -}}
  {{- if eq $.param.format "original" }}
    type="{{ $.param.img.MediaType }}"
  {{- else }}
    type="{{ printf "image/%s" $.param.format }}"
  {{- end }}
  />
{{- end }}
{{- with .picture.original.src }}
  <img
  {{- if eq $.param.loading (or "auto" "lazy") }}
    loading="{{ $.param.loading }}"
  {{- end -}}
  {{- if eq $.param.loading "lazysizes" }}
    data-src="{{ .RelPermalink }}"
    {{- with $.picture.original.placeholder }}
    src="{{ . | safeURL }}"
    {{- end }}
  {{- else if $.param.provider }}
    src="{{ . }}"
    height="{{ $.param.img.Height }}"
    width="{{ $.param.img.Width }}"
  {{- else }}
    src="{{ .RelPermalink }}"
    height="{{ .Height }}"
    width="{{ .Width }}"
  {{- end }}
  {{- with $.param.class }}
    class="{{ . }}"
  {{- end -}}
  {{- with $.param.sizes }}
    {{ . | safeHTMLAttr }}
  {{- end }}
  {{- with $.param.alt }}
    alt="{{ . }}"
  {{- end }}
  {{- with $.param.title }}
    title="{{ . }}"
  {{- end }}
  />
{{ end  -}}
</picture>

{{ .picture}}

HELLP
