{{- $widths := slice -}}
{{- $fillRatio := false -}}


{{- /* calculate fill ratio, if .fillRatio is provided */ -}}
{{- if .partial.fillRatio -}}
  {{- if reflect.IsSlice .partial.fillRatio -}}
    {{- range .partial.fillRatio -}}
      {{- if ne (printf "%T" .) "int" }}
        {{ partial "inline/options-error" (dict 
          "var" "fillRatio array item"
          "value" .
          "options" "2x integers in an array/slice"
          "ctx" $
        ) }}
      {{- end -}}
    {{- end -}}
  {{- else -}}
    {{ partial "inline/options-error" (dict 
      "var" "fillRatio"
      "value" .
      "options" "2x integers in an array/slice"
      "ctx" $
    ) }}
  {{- end -}}
  {{- /* height to width ratio of .partial.fillRatio */ -}}
  {{- /* numbers must be converted to float before division or they may create an answer of 0 */ -}}
  {{- $fillRatio = div (index .partial.fillRatio 1 | float) (index .partial.fillRatio 0 | float) -}}
{{- end -}}
{{- /*********************************************************************
  **** if .width present for pixel density srcset                        *
  **** produce array [{desc: "1x", width: 300},{desc: "2x", width: 600}] *
  ************************************************************************/ -}}
{{- if .partial.width -}}
  {{- if ne (printf "%T" .partial.width) "int" }}
    {{ partial "inline/options-error" (dict 
      "var" "width"
      "value" .
      "options" "single integers"
      "ctx" $
    ) }}
  {{- end -}}
  {{- $densities := .partial.densities | default (.partial.page.Param "image.densities") -}}
  {{- $densities = sort $densities -}}
  {{- range $density := $densities }}
    {{- $widths = $widths | append (slice
      (dict
      "desc" (printf "%dx" $density)
      "width" (mul $.width $density)
      )) -}}
  {{- end -}}
{{- else -}}
{{/* else produce responsive srcset
  * produce array [{desc: "300w", width: 300},{desc: "600w", width: 600}]
*/}}
  {{- if .partial.widths -}}
    {{- if reflect.IsSlice .partial.widths -}}
      {{- range .widths -}}
        {{- if ne (printf "%T" .) "int" }}
          {{ partial "inline/options-error" (dict 
            "var" "widths array item"
            "value" .
            "options" "2x integers in an array/slice"
            "ctx" $
          ) }}
        {{- end -}}
      {{- end -}}
    {{- else -}}
      {{ partial "inline/options-error" (dict 
        "var" "width array"
        "value" .
        "options" "2x integers in an array/slice"
        "ctx" $
      ) }}
    {{- end -}}
  {{- end -}}
  {{- $userWidths := .partial.widths | default (.partial.page.Param "image.widths") -}}
  {{- $userWidths = sort $userWidths -}}
  {{- range $userWidth := $userWidths }}
    {{- $widths = $widths | append (slice
      (dict
      "desc" (printf "%dw" $userWidth)
      "width" $userWidth
      )) -}}
  {{- end -}}
{{- end -}}

{{/* set image processing options from image, page or site config */}}
{{ $options := slice }}
{{ $quality := .partial.quality | default (.partial.page.Param "image.quality") }}
{{ with $quality }}
  {{ if and (eq (printf "%T" .) "int") (and (ge . 1) (le . 100)) }}
    {{ $options = $options | append (printf "q%d" .) }}
  {{ else }}
    {{ partial "inline/options-error" (dict 
      "var" "quality"
      "value" .
      "options" "integers between 1-100 inclusive"
      "ctx" $
    ) }}
  {{ end }}
{{ end }}
{{ $rotate := .partial.rotate | default (.partial.page.Param "image.rotate") }}
{{ with $rotate }}
  {{ if and (eq (printf "%T" .) "int") (and (ge . 1) (le . 360)) }}
    {{ $options = $options | append (printf "r%d" .) -}}
  {{ else }}
    {{ partial "inline/options-error" (dict 
      "var" "rotate"
      "value" .
      "options" "integers between 1-360 inclusive"
      "ctx" $
    ) }}
  {{ end }}
{{ end }}
{{ $resampleFilter := .partial.resampleFilter | default (.partial.page.Param "image.resampleFilter") }}
{{ with $resampleFilter }}
  {{ $filterOpts := (slice "Box" "NearestNeighbor" "Linear" "Gaussian") }}
  {{ if in $filterOpts . }}
    {{ $options = $options | append . }}
  {{ else }}
    {{ partial "inline/options-error" (dict 
      "var" "resampleFilter"
      "value" .
      "options" (delimit $filterOpts ", ")
      "ctx" $
    ) }}
  {{ end }}
{{ end }}
{{ $hint := .partial.hint | default (.partial.page.Param "image.hint") }}
{{ with $hint }}
  {{ $hintOpts := (slice "picture" "photo" "drawing" "icon" "text") }}
  {{ if in $hintOpts . -}}
    {{ $options = $options | append . }}
  {{ else -}}
    {{ partial "inline/options-error" (dict 
      "var" "hint"
      "value" .
      "options" (delimit $hintOpts ", ")
      "ctx" $
    ) }}
  {{ end }}
{{ end }}
{{ $anchor := .partial.anchor | default (.partial.page.Param "image.anchor") }}
{{with $anchor }}
  {{ $anchorOpts := (slice "Smart" "Center" "TopLeft" "Top" "TopRight" "Left" "Right" "BottomLeft" "Bottom" "BottomRight") }}
  {{ if in $anchorOpts . }}
    {{ $options = $options | append  . }}
  {{ else }}
    {{ partial "inline/options-error" (dict 
      "var" "anchor"
      "value" .
      "options" (delimit $anchorOpts ", ")
      "ctx" $
    ) }}
  {{ end }}
{{ end }}
{{ return (dict 
  "options" $options
  "widths" $widths
  "fillRatio" $fillRatio
  ) }}
{{/* set error message template */}}
{{ define "partials/inline/options-error" }}
  {{ errorf "Invalid %s value of \"%v\" for image %s on page %s. Valid options are %s." .var .value .ctx.img.RelPermalink .ctx.partial.page.RelPermalink .options }}
{{ end }}
{{ define "partials/inline/option-error" }}
  {{ errorf "Invalid %s value of \"%v\" for image %s on page %s. Valid options are %s." .var .value .ctx.img.RelPermalink .ctx.partial.page.RelPermalink .option }}
{{ end }}
