{{/* set image processing options from image, page or site config */}}
{{ $options := slice }}
{{ $quality := .partial.quality | default (.partial.page.Param "image.quality") }}
{{ with $quality }}
  {{ if and (eq (printf "%T" .) "int") (and (ge . 1) (le . 100)) }}
    {{ $options = $options | append (printf "q%d" .) }}
  {{ else }}
    {{ partial "inline/options-error" (dict 
      "var" "quality"
      "value" .
      "options" "integers between 1-100 inclusive"
      "ctx" $
    ) }}
  {{ end }}
{{ end }}
{{ $rotate := .partial.rotate | default (.partial.page.Param "image.rotate") }}
{{ with $rotate }}
  {{ if and (eq (printf "%T" .) "int") (and (ge . 1) (le . 360)) }}
    {{ $options = $options | append (printf "r%d" .) -}}
  {{ else }}
    {{ partial "inline/options-error" (dict 
      "var" "rotate"
      "value" .
      "options" "integers between 1-360 inclusive"
      "ctx" $
    ) }}
  {{ end }}
{{ end }}
{{ $resampleFilter := .partial.resampleFilter | default (.partial.page.Param "image.resampleFilter") }}
{{ with $resampleFilter }}
  {{ $filterOpts := (slice "Box" "NearestNeighbor" "Linear" "Gaussian") }}
  {{ if in $filterOpts . }}
    {{ $options = $options | append . }}
  {{ else }}
    {{ partial "inline/options-error" (dict 
      "var" "resampleFilter"
      "value" .
      "options" (delimit $filterOpts ", ")
      "ctx" $
    ) }}
  {{ end }}
{{ end }}
{{ $hint := .partial.hint | default (.partial.page.Param "image.hint") }}
{{ with $hint }}
  {{ $hintOpts := (slice "picture" "photo" "drawing" "icon" "text") }}
  {{ if in $hintOpts . -}}
    {{ $options = $options | append . }}
  {{ else -}}
    {{ partial "inline/options-error" (dict 
      "var" "hint"
      "value" .
      "options" (delimit $hintOpts ", ")
      "ctx" $
    ) }}
  {{ end }}
{{ end }}
{{ $anchor := .partial.anchor | default (.partial.page.Param "image.anchor") }}
{{with $anchor }}
  {{ $anchorOpts := (slice "Smart" "Center" "TopLeft" "Top" "TopRight" "Left" "Right" "BottomLeft" "Bottom" "BottomRight") }}
  {{ if in $anchorOpts . }}
    {{ $options = $options | append  . }}
  {{ else }}
    {{ partial "inline/options-error" (dict 
      "var" "anchor"
      "value" .
      "options" (delimit $anchorOpts ", ")
      "ctx" $
    ) }}
  {{ end }}
{{ end }}
{{ return $options }}
{{/* set error message template */}}
{{ define "partials/inline/options-error" }}
  {{ errorf "Invalid %s value of \"%v\" for image %s on page %s. Valid options are %s." .var .value .ctx.img.RelPermalink .ctx.partial.page.RelPermalink .options }}
{{ end }}
