{{- /*
  figure.html
  Takes inputs and page context.
  - Passes inputs to figure-params partial for processing
  - sends params to 2x partials for figure tag generation
  - inbetween these to partials is the image partial ()

  @author @sean-au

  @context . Context from a page template, figure/image partial, or render hook partial.

  @access public

  @example - Go Template
  {{ partial "figure" (dict "src" "image.jpg" "alt" "alt text") }}

*/ -}}


{{- /* get image resource */ -}}

{{/*  
{{ $params := "" }}
{{ if not .common.img }}
  {{ $common := dict }}
  {{ if not .common.origin }}
    {{ $common := dict "origin" "figure partial" }}
  {{ end }}
  {{- $params = merge . (partial "hri/private/params/common.html" (merge . (dict "common" $common))) }}
{{ end }} */}}


{{- /* process figure & image params */ -}}
{{/*  
{{- $params = partial "hri/private/params/figure" $params -}}

{{- partial "hri/private/print/figure-set" (dict 
  "figure_params" $params.figure
  "image_params" (merge . $params.image )
  ) -}}
  */}}
