{{ $s := newScratch }}
{{ $s.Set "params" dict }}

{{ $external_link := false }}
{{ $external_attr_link := false }}

{{/* must assign .meta to $meta to prevent nil error */}}
{{ $meta := .common.meta }}
{{ $ctx := .common.ctx }}

{{/**********************
  ** inline & meta ***/}}

{{ with .attr | default $meta.attr }}
  {{ if not (eq (printf "%T" .) "string") }}
    {{ partial "hri/private/utils/options-error" (dict 
      "var" "attr"
      "val" .
      "opts" "strings"
      "ctx" $.error_ctx
    ) }}
  {{ else }}
    {{ $s.SetInMap "params" "attr" . }}
  {{ end }}
{{ end }}

{{ with $attr_link := .attr_link | default .attrLink | default $meta.attr_link  | default $meta.attrLink }}
  {{ if not (eq (printf "%T" .) "string") }}
    {{ partial "hri/private/utils/options-error" (dict 
      "var" "attr_link"
      "val" .
      "opts" "strings"
      "ctx" $.error_ctx
    ) }}
  {{ else }}
    {{ if hasPrefix $attr_link "http" }}
      {{ $external_attr_link = true }}
      {{ $attr_link = relref $ctx $attr_link }}
    {{ end }}
    {{ $s.SetInMap "params" "attr_link" $attr_link }}
  {{ end }}
{{ end }}

{{ with $attr_link_rel := .attr_link_rel | default $meta.attr_link_rel | default ($ctx.Param "image.attr_link_rel") }}
  {{ if not (eq (printf "%T" .) "string") }}
    {{ partial "hri/private/utils/options-error" (dict 
      "var" "attr_link_rel"
      "val" .
      "opts" "strings"
      "ctx" $.error_ctx
    ) }}
  {{ else }}
    {{ if eq $external_link true }}
      {{ $attr_link_rel = $attr_link_rel | default "noopener noreferrer" }}
    {{ end }}
    {{ $s.SetInMap "params" "attr_link_rel" $attr_link_rel }}
  {{ end }}
{{ end }}

{{ with $attr_link_target := .attr_link_target | default $meta.attr_link_target | default ($ctx.Param "image.attr_link_target") }}
  {{ if not (eq (printf "%T" .) "string") }}
    {{ partial "hri/private/utils/options-error" (dict 
      "var" "attr_link_target"
      "val" .
      "opts" "strings"
      "ctx" $.error_ctx
    ) }}
  {{ else }}
      {{ if eq $external_link true }}
        {{ $attr_link_target = $attr_link_target | default "_blank" }}
    {{ end }}
    {{ $s.SetInMap "params" "attr_link_target" $attr_link_target }}
  {{ end }}
{{ end }}

{{ $caption := .caption | default $meta.caption}}
{{ if $caption  }}
  {{ if not (eq (printf "%T" $caption ) "string") }}
    {{ partial "hri/private/utils/options-error" (dict 
      "var" "caption"
      "val" $caption
      "opts" "strings"
      "ctx" $.error_ctx
    ) }}
  {{ else }}
    {{ $s.SetInMap "params" "caption" $caption }}
  {{ end }}
{{ else if .title }}
  {{ $s.SetInMap "params" "caption" .title }}
{{ end }}

{{ with $link := .link | default $meta.link }}
  {{ if not (eq (printf "%T" .) "string") }}
    {{ partial "hri/private/utils/options-error" (dict 
      "var" "link"
      "val" .
      "opts" "strings"
      "ctx" $.error_ctx
    ) }}
  {{ else }}
    {{ if hasPrefix $link "http" }}
      {{ $external_link = true }}
      {{ $link = relref $.ctx $link }}
    {{ end }}
    {{ $s.SetInMap "params" "link" $link }}
  {{ end }}
{{ end }}

{{ with $rel := .rel | default $meta.rel | default ($ctx.Param "image.rel") }}
  {{ if not (eq (printf "%T" .) "string") }}
    {{ partial "hri/private/utils/options-error" (dict 
      "var" "rel"
      "val" .
      "opts" "strings"
      "ctx" $.error_ctx
    ) }}
  {{ else }}
    {{ if eq $external_link true }}
      {{ $rel = $rel | default "noopener noreferrer" }}
    {{ end }}
    {{ $s.SetInMap "params" "rel" $rel }}
  {{ end }}
{{ end }}

{{ with $target := .target | default $meta.target | default ($ctx.Param "image.target") }}
  {{ if not (eq (printf "%T" .) "string") }}
    {{ partial "hri/private/utils/options-error" (dict 
      "var" "target"
      "val" .
      "opts" "strings"
      "ctx" $.error_ctx
    ) }}
  {{ else }}
      {{ if eq $external_link true }}
        {{ $target = $target | default "_blank" }}
    {{ end }}
    {{ $s.SetInMap "params" "target" $target }}
  {{ end }}
{{ end }}

{{ with .figcaption_title | default .figureTitle | default $meta.figcaption_title | default $meta.figureTitle }}
  {{ if not (eq (printf "%T" .) "string") }}
    {{ partial "hri/private/utils/options-error" (dict 
      "var" "figcaption_title"
      "val" .
      "opts" "strings"
      "ctx" $.error_ctx
    ) }}
  {{ else }}
    {{ $s.SetInMap "params" "figcaption_title" . }}
  {{ end }}
{{ end }}


{{/* inline, meta, page & site */}}
{{ with .figure_class | default .figureClass | default $meta.figure_class | default $meta.figureClass | default ($ctx.Param "image.figureClass") | default (.ctx.Param "image.figure_class") }}
  {{ if not (eq (printf "%T" .) "string") }}
    {{ partial "hri/private/utils/options-error" (dict 
      "var" "figure_class"
      "val" .
      "opts" "strings"
      "ctx" $.error_ctx
    ) }}
  {{ else }}
    {{ $s.SetInMap "params" "figure_class" . }}
  {{ end }}
{{ end }}

{{ with .figcaption_class | default .figCaptionClass | default $meta.figcaption_class | default $meta.figureCaptionClass | default ($ctx.Param "image.figCaptionClass") | default (.ctx.Param "image.figcaption_class") }}
  {{ if not (eq (printf "%T" .) "string") }}
    {{ partial "hri/private/utils/options-error" (dict 
      "var" "figcaption_class"
      "val" .
      "opts" "strings"
      "ctx" $.error_ctx
    ) }}
  {{ else }}
    {{ $s.SetInMap "params" "figcaption_class" . }}
  {{ end }}
{{ end }}

{{ with .figcaption_title_h | default .figureTitleH |  default $meta.figcaption_title_h | default $meta.figureTitleH | default ($ctx.Param "image.figureTitleH") | default ($ctx.Param "image.figcaption_title_h") }}
  {{ if not (eq (printf "%T" .) "int") }}
    {{ partial "hri/private/utils/options-error" (dict 
      "var" "figcaption_title_h"
      "val" .
      "opts" "strings"
      "ctx" $.error_ctx
    ) }}
  {{ else }}
    {{ $s.SetInMap "params" "figcaption_title_h" . }}
  {{ end }}
{{ end }}

{{ with .class | default .figureImageClass | default $meta.class | default $meta.figureImageClass | default ($ctx.Param "image.figureImageClass") | default ($ctx.Param "image.figure_image_class") }}
  {{ if not (eq (printf "%T" .) "string") }}
    {{ partial "hri/private/utils/options-error" (dict 
      "var" "class"
      "val" .
      "opts" "strings"
      "ctx" $.error_ctx
    ) }}
  {{ else }}
    {{ $s.SetInMap "params" "class" . }}
  {{ end }}
{{ end }}

{{ return $s.Get "params" }}
