{{/*
  params.html
  Takes inputs and page context.
  - Processes some inputs
  - Some inputs default to page/site params
  - Some inputs passed through
  - page context passed through
  Creates a new context for other partials to use

  @author @sean-au

  @context . Context from image partial

  @return Map including .img, .page and various inputs

  @access private

  @example - Go Template
  {{ partial "hri/private/params" . }}

  UPGRADE:

  santize siteParams > pageParams > pageMeta > inlineParams
  
*/}}


{{ $meta := dict }}
{{ $params :=  . }}
{{ $img := false }}
{{ $type := .type | default (.ctx.Param "image.type") }}
{{ if eq $type "global" }}
  {{/* global resource */}}
  {{ $img = resources.Get .src }}
{{ else }}
  {{/* page resource */}}
  {{ $img = .ctx.Resources.GetMatch (print .src)   }}
  {{/* add page resource image params to variable */}}
  {{ $meta = $img.Params }}
{{ end }}

{{ $params = merge $params (dict 
  "img" $img
  "type" $type) }}




{{/* everything above this line must stay above this line for error messages to work as they use these variables */}}

{{/* camelCase params have been kept to avoid breaking changes, will be depreciated in future versions */}}

{{/* GET PARAMS FROM VARIOUS PLACES */}}
{{ $suppressWidthWarning := .suppress_width_warning | default (.ctx.Param "image.suppress_width_warning") | default .suppressWidthWarning | default (.ctx.Param "image.suppressWidthWarning") }}
{{ $title := .title | default $img.Title | default $meta.title | default .figure_title | default .figureTitle | default $meta.figure_title | default $meta.figureTitle }}
{{ $fillRatio :=  .fill_ratio | default $meta.fill_ratio | default (.ctx.Param "image.fill_ratio") | default .fillRatio | default $meta.fillRatio | default (.ctx.Param "image.fillRatio") }}
{{ $width := .width | default $meta.width | default .ctx.Params.image.width }}



{{/* TO TEST and check if they are being sanitized */}}
{{ $densities := .densities | default $meta.densities | default (.ctx.Param "image.densities") }}
{{ $densities = sort $densities }}
{{ $formats := .formats | default $meta.formats | default (.ctx.Param "image.formats") }}
{{ $provider := .provider | default $meta.provider | default (.ctx.Param "image.provider") }}
{{ $loading := .loading | default $meta.loading | default (.ctx.Param "image.loading") }}
{{ $sizes := .sizes | default $meta.sizes | default (.ctx.Param "image.sizes") }}
{{ $alt :=  .alt | default $meta.alt }}

{{ $class := "" }}
{{ $caption := "" }}
{{ if eq .input "figure" }}
  {{ $class = .class }}
  {{ $caption = .caption }}
{{ else }}
  {{ $class = .class | default $meta.class | default (.ctx.Param "image.class") }}
{{ end }}
{{ $widths := "" }}
{{ if or (eq .input "render_hook") (eq .input "shortcode") }}
  {{ $widths = .widths }}
{{ else }}
  {{ $widths = .widths | default $meta.widths | default (.ctx.Param "image.widths") }}
{{ end }}



{{/* MERGE NEW PARAMS */}}
{{ $params = merge $params (dict 
  "suppressWidthWarning" $suppressWidthWarning
  "title" $title
  "fillRatio" $fillRatio
  "widths" $widths
  "width" $width
  "densities" $densities
  "formats" $formats
  "provider" $provider
  "loading" $loading
  "sizes" $sizes
  "class" $class
  "caption" $caption
  "alt" $alt ) }}

{{/* placeholder params */}}
{{ $placeholder := .placeholder | default $meta.placeholder | default (.ctx.Param "image.placeholder") }}
{{ $lqipDivFactor := .lqip_div_factor | default $meta.lqip_div_factor | default (.ctx.Param "image.lqip_div_factor") | default .lqipDivFactor | default $meta.lqipDivFactor | default (.ctx.Param "image.lqipDivFactor") }}
{{ $lqipBlurAmount := .lqip_blur_amount | default $meta.lqip_blur_amount | default (.ctx.Param "image.lqip_blur_amount") | default .lqipBlurAmount | default $meta.lqipBlurAmount | default (.ctx.Param "image.lqipBlurAmount") }}
{{ $gifDivFactor := .gif_div_factor | default $meta.gif_div_factor |default (.ctx.Param "image.gif_div_factor") | default .gifDivFactor | default $meta.gifDivFactor |default (.ctx.Param "image.gifDivFactor") }}

{{ $params := merge $params (dict 
  "placeholder" $placeholder
  "lqipDivFactor" $lqipDivFactor
  "lqipBlurAmount" $lqipBlurAmount
  "gifDivFactor" $gifDivFactor)}}

{{/* image processing params - dont export these params */}}
{{ $quality := .quality | default $meta.quality | default (.ctx.Param "image.quality") }}
{{ $rotate := .rotate | default $meta.rotate | default (.ctx.Param "image.rotate") }}
{{ $resample_filter := .resample_filter | default $meta.resample_filter | default (.ctx.Param "image.resample_filter") | default .resampleFilter | default $meta.resampleFilter | default (.ctx.Param "image.resampleFilter") }}
{{ $hint := .hint | default $meta.hint | default (.ctx.Param "image.hint") }}
{{ $anchor := .anchor | default $meta.anchor | default (.ctx.Param "image.anchor") }}


{{ partial "hri/private/params/sanitize/image" (dict "ctx" .ctx "img" $img "params" . ) }}

{{ $options := dict 
  "quality" $quality 
  "rotate" $rotate 
  "resample_filter" $resample_filter
  "hint" $hint
  "anchor" $anchor }}
{{ $params := merge $params (dict "options" $options) }}

{{/* POST SANITIZATION MODIFICATIONS TO PARAMS */}}

{{ with $fillRatio }}
  {{/* height to width ratio of .fillRatio */}}
  {{/* numbers must be converted to float before division or they may create an answer of 0 */}}
  {{ $fillRatio = div (index . 1 | float) (index . 0 | float) }}
  {{ $params = merge $params (dict "fillRatio" $fillRatio) }}
{{ end }}

{{/*********************************************************************
  **** if .width present for pixel density srcset                        *
  **** produce array [{desc: "1x", width: 300},{desc: "2x", width: 600}] *
  ************************************************************************/}}

{{ if $width }}
  {{/* clear $widths as were only working with one width */}}
  {{ $widths = slice }}
  {{ range $density := $densities }}
    {{ $widths = $widths | append (slice
      (dict
      "desc" (printf "%dx" $density)
      "width" (mul $width $density)
      )) }}
  {{ end }}
  {{ $params = merge $params (dict 
    "widths" $widths
    "width" $width
    ) }}
{{ else if $widths }}
{{/* else produce responsive srcset
  ** produce array [{desc: "300w", width: 300},{desc: "600w", width: 600}]
  */}}
  {{ $widths = sort $widths }}
  {{/* SANTIZE WIDTHS WITH UTIL */}}
  {{ $new_widths := partial "hri/private/utils/sanitize-widths" (dict 
    "ctx" $.page
    "img" $img
    "widths" $widths
    "fill_ratio" $fillRatio
    "difference" (site.Params.minWidthDifference | int)
    "suppress" $suppressWidthWarning )}}

  {{/* create and export variable */}}
  {{ $widthsArray := slice }}
  {{ range $width := $new_widths }}
    {{ $widthsArray = $widthsArray | append (slice
      (dict
      "desc" (printf "%dw" $width)
      "width" $width
      )) }}
  {{ end }}
  {{ $widths = $widthsArray }}
  {{ $params = merge $params (dict "widths" $widths) }}
{{ end }}


{{ if and $sizes (not $width) }}
  {{ $sizes_prop := false }}
  {{ if eq $sizes "lazysizes" }}
    {{ $sizes_prop = `data-sizes="auto"` }}
  {{ else if (eq $sizes "user") }}
    {{ $sizes_prop = false }}
  {{ else }}
    {{ $sizes_prop = printf `sizes="%s"` $sizes }}
  {{ end }}
  {{ $params = merge $params (dict "sizes_prop" $sizes_prop) }}
{{ end }}



{{/* depreciate this (but keep for legacy), just modify .class inside figure params and pass via context to here */}}
{{ $figure_image_class := default .figureImageClass | default $meta.figureImageClass | default (.ctx.Param "image.figureImageClass") }}


{{ if eq $loading "lazysizes" }} 
  {{ $class = print $class " lazyload" }}
{{ end }}
{{ $params = merge $params (dict "class" $class )}}

{{/* alt defaults to caption.  defaults to "image of [title]" If not caption or alt set, error. can be supporessed e.g. netlify use case */}}

{{ if not $alt }}
  {{ if .caption }}
    {{ $alt = .caption | markdownify | plainify }}
  {{ else if $title }}
    {{ $alt = printf "Image of %s" $title }}
  {{ else }}
    {{ erroridf "alt-error" "Alt text has not been provided for image %s on page %s. Set alt, title or caption (for figure)." $img.RelPermalink .ctx.RelPermalink }}
  {{ end }}
{{ end }}
{{ $params = merge $params (dict 
  "alt" $alt
  ) }}



{{ return $params }}
