{{/*
  params.html
  Takes inputs and page context.
  - Processes some inputs
  - Some inputs default to page/site params
  - Some inputs passed through
  - page context passed through
  Creates a new context for other partials to use

  @author @sean-au

  @context . Context from image partial

  @return Map including .img, .page and various inputs

  @access private

  @example - Go Template
  {{ partial "hri/private/params" . }}
  
*/}}

{{ $s := newScratch }}
{{/* should params be pulled in explicitly? */}}
{{/*  $s.Set "params" . */}}

{{ $imgMetaTitle := false }}
{{ $imgParams := dict }}
{{ $params :=  . }}
{{ $img := false }}
{{ $type := .type | default (.page.Param "image.type") }}
{{ if eq $type "global" }}
  {{/* global resource */}}
  {{ $img = resources.Get .src }}
{{ else }}
  {{/* page resource */}}
  {{ $img = .page.Resources.GetMatch (print .src)   }}
  {{/* add page resource image params to variable */}}
  {{ $imgParams = $img.Params }}
  {{ $imgMetaTitle = $img.Title }}
{{ end }}


{{ $params = merge $params (dict 
  "img" $img
  "type" $type) }}


{{/* everything above this line must stay above this line for error messages to work as they use these variables */}}

{{/* camelCase params have been kept to avoid breaking changes, will be depreciated in future versions */}}

{{/* GET PARAMS FROM VARIOUS PLACES */}}
{{ $suppressWidthWarning := .suppress_width_warning | default (.page.Param "image.suppress_width_warning") | default .suppressWidthWarning | default (.page.Param "image.suppressWidthWarning") }}
{{/* .figureTitle has already been merged with $imgParams */}}
{{ $title := .title | default $imgMetaTitle | default $imgParams.title | default .figure_title | default .figureTitle | default .page.Title }}
{{ $fillRatio :=  .fill_ratio | default $imgParams.fill_ratio | default (.page.Param "image.fill_ratio") | default .fillRatio | default $imgParams.fillRatio | default (.page.Param "image.fillRatio") }}
{{ $widths := .widths | default $imgParams.widths | default (.page.Param "image.widths") }}
{{ $shortcodeWidths := .page.Param "shortcode_widths" | default (.page.Param "shortcodeWidths") | default $widths }}
{{ $renderHookWidths := .page.Param "render_hook_widths" | default (.page.Param "renderHookWidths") | default $shortcodeWidths }}
{{ if eq .renderHook true }}
  {{ $widths = $renderHookWidths }}
{{ else if (eq .shortcode true) }}
  {{ $widths = $shortcodeWidths }}
{{ end }}
{{ $width := .width | default $imgParams.width | default .page.Params.image.width }}

{{/* TO TEST and check if they are being sanitized */}}
{{ $densities := .densities | default $imgParams.densities | default (.page.Param "image.densities") }}
{{ $densities = sort $densities }}
{{ $formats := .formats | default $imgParams.formats | default (.page.Param "image.formats") }}
{{ $provider := .provider | default $imgParams.provider | default (.page.Param "image.provider") }}
{{ $loading := .loading | default $imgParams.loading | default (.page.Param "image.loading") }}
{{ $sizesParam := .sizes | default $imgParams.sizes | default (.page.Param "image.sizes") }}
{{ $class := .class | default $imgParams.class | default (.page.Param "image.class") }}
{{/* .caption has already been processed??? should this be passed through as something else e.g. .figure_caption? */}}
{{ $alt :=  .alt | default $imgParams.alt }}

{{/* placeholder params */}}
{{ $placeholder := .placeholder | default $imgParams.placeholder | default (.page.Param "image.placeholder") }}
{{ $lqipDivFactor := .lqip_div_factor | default $imgParams.lqip_div_factor | default (.page.Param "image.lqip_div_factor") | default .lqipDivFactor | default $imgParams.lqipDivFactor | default (.page.Param "image.lqipDivFactor") }}
{{ $lqipBlurAmount := .lqip_blur_amount | default $imgParams.lqip_blur_amount | default (.page.Param "image.lqip_blur_amount") | default .lqipBlurAmount | default $imgParams.lqipBlurAmount | default (.page.Param "image.lqipBlurAmount") }}
{{ $gifDivFactor := .gif_div_factor | default $imgParams.gif_div_factor |default (.page.Param "image.gif_div_factor") | default .gifDivFactor | default $imgParams.gifDivFactor |default (.page.Param "image.gifDivFactor") }}

{{/* MERGE NEW PARAMS */}}
{{ $params = merge $params (dict 
  "suppressWidthWarning" $suppressWidthWarning
  "title" $title
  "fillRatio" $fillRatio
  "widths" $widths
  "shortcodeWidths" $shortcodeWidths
  "renderHookWidths" $renderHookWidths
  "width" $width
  "densities" $densities
  "formats" $formats
  "provider" $provider
  "loading" $loading
  "sizesParam" $sizesParam
  "class" $class
  "alt" $alt
  "placeholder" $placeholder
  "lqipDivFactor" $lqipDivFactor
  "lqipBlurAmount" $lqipBlurAmount
  "gifDivFactor" $gifDivFactor) }}

{{/* SANITIZE PARAMS */}}
{{ partial "hri/private/params/sanitize-inputs" $params }}

{{/* image processing options - dont export these params */}}
{{ $quality := .quality | default $imgParams.quality | default (.page.Param "image.quality") }}
{{ $rotate := .rotate | default $imgParams.rotate | default (.page.Param "image.rotate") }}
{{ $resample_filter := .resample_filter | default $imgParams.resample_filter | default (.page.Param "image.resample_filter") | default .resampleFilter | default $imgParams.resampleFilter | default (.page.Param "image.resampleFilter") }}
{{ $hint := .hint | default $imgParams.hint | default (.page.Param "image.hint") }}
{{ $anchor := .anchor | default $imgParams.anchor | default (.page.Param "image.anchor") }}

{{ $options := dict 
  "quality" $quality 
  "rotate" $rotate 
  "resample_filter" $resample_filter
  "hint" $hint
  "anchor" $anchor }}

{{ partial "hri/private/params/sanitize-options" (dict "page" .page "img" $img "opts" $options) }}
{{ $params := merge $params (dict "options" $options) }}

{{/* POST SANITIZATION MODIFICATIONS TO PARAMS */}}

{{ with $fillRatio }}
  {{/* height to width ratio of .fillRatio */}}
  {{/* numbers must be converted to float before division or they may create an answer of 0 */}}
  {{ $fillRatio = div (index . 1 | float) (index . 0 | float) }}
  {{ $params = merge $params (dict "fillRatio" $fillRatio) }}
{{ end }}

{{/*********************************************************************
  **** if .width present for pixel density srcset                        *
  **** produce array [{desc: "1x", width: 300},{desc: "2x", width: 600}] *
  ************************************************************************/}}

{{ if $width }}
  {{/* clear $widths as were only working with one width */}}
  {{ $widths = slice }}
  {{ range $density := $densities }}
    {{ $widths = $widths | append (slice
      (dict
      "desc" (printf "%dx" $density)
      "width" (mul $width $density)
      )) }}
  {{ end }}
  {{ $params = merge $params (dict 
    "widths" $widths
    "width" $width
    ) }}
{{ else if $widths }}
{{/* else produce responsive srcset
  ** produce array [{desc: "300w", width: 300},{desc: "600w", width: 600}]
  */}}
  {{ $widths = sort $widths }}
  {{/* SANTIZE WIDTHS WITH UTIL */}}
  {{ $new_widths := partial "hri/private/utils/sanitize-widths" (dict 
    "ctx" $.page
    "img" $img
    "widths" $widths
    "fill_ratio" $fillRatio
    "difference" (site.Params.minWidthDifference | int)
    "suppress" $suppressWidthWarning )}}

  {{/* create and export variable */}}
  {{ $widthsArray := slice }}
  {{ range $width := $new_widths }}
    {{ $widthsArray = $widthsArray | append (slice
      (dict
      "desc" (printf "%dw" $width)
      "width" $width
      )) }}
  {{ end }}
  {{ $widths = $widthsArray }}
  {{ $params = merge $params (dict "widths" $widths) }}
{{ end }}

{{ $sizes := false }}
{{ if and $sizesParam (not $width) }}
  {{ if eq $sizesParam "lazysizes" }}
    {{ $sizes = `data-sizes="auto"` }}
  {{ else if (eq $sizesParam "user") }}
    {{ $sizes = false }}
  {{ else }}
    {{ $sizes = printf `sizes="%s"` $sizesParam }}
  {{ end }}
{{ end }}
{{ $params = merge $params (dict "sizes" $sizes) }}


{{/* depreciate this (but keep for legacy), just modify .class inside figure params and pass via context to here */}}
{{ $figure_image_class := default .figureImageClass | default $imgParams.figureImageClass | default (.page.Param "image.figureImageClass") }}

{{/* for figures $class uses figureImageClass, else uses .class */}}
{{ if eq .figure true }}
  {{ $class = $figure_image_class }}
{{ end }}
{{ if eq $loading "lazysizes" }} 
  {{ $class = print $class " lazyload" }}
{{ end }}
{{ $params = merge $params (dict "class" $class )}}

{{/* alt defaults to caption.  defaults to "image of [title]" If not caption or alt set, error. can be supporessed e.g. netlify use case */}}

{{ if not $alt }}
  {{ if .caption }}
    {{ $alt = .caption | markdownify | plainify }}
  {{ else if $title }}
    {{ $alt = printf "Image of %s" $title }}
  {{ else }}
    {{ erroridf "alt-error" "Alt text has not been provided for image %s on page %s. Set alt, title or caption (for figure)." $img.RelPermalink .page.RelPermalink }}
  {{ end }}
{{ end }}
{{ $params = merge $params (dict 
  "alt" $alt
  ) }}



{{ return $params }}
