{{/*
  bg-images/private/sanitize/image-processing.html 
  Sanitizes and passes image processing params as a dict
    - quality
    - rotate
    - resample_filter
    - hint
    - anchor
    - background_color

  @author @sean-au

  @context (dict)
    . params extracted from context
    "ctx" page context
    "meta" page resource meta data
    

  @access private

  @example - Go Template
    {{ partial "hri/private/params/sanitize/image-general" (dict "ctx" .ctx "img" $img "params" $general_params) }}
  */}}



{{/* need to create $variables as .variables dont work if = nill */}}


{{ $s := newScratch }}
{{ $s.Set "params" dict }}

{{ $meta := .common.meta }}
{{ $ctx := .common.ctx }}

{{ with .quality | default $meta.quality | default ($ctx.Param "image.quality") }}
  {{ if not (and (eq (printf "%T" .) "int") (and (ge . 1) (le . 100))) }}
    {{ partial "hri/private/utils/options-error" (dict 
      "var" "quality"
      "val" .
      "opts" "integers between 1-100 inclusive"
      "ctx" $.error_ctx
    ) }}
  {{ else }}
    {{ $s.SetInMap "params" "quality" (printf "q%v" . )}}
  {{ end }}
{{ end }}

{{ with .rotate | default $meta.rotate | default ($ctx.Param "image.rotate") }}
  {{ if not (and (eq (printf "%T" .) "int") (and (ge . 1) (le . 360))) }}
    {{ partial "hri/private/utils/options-error" (dict 
      "var" "rotate"
      "val" .
      "opts" "integers between 1-360 inclusive"
      "ctx" $.error_ctx
    ) }}
  {{ else }}
    {{ $s.SetInMap "params" "rotate" (printf "r%v" . ) }}
  {{ end }}
{{ end }}


{{ with .resample_filter | default .resampleFilter | default $meta.resample_filter | default $meta.resampleFilter | default ($ctx.Param "image.resampleFilter") | default ($ctx.Param "image.resample_filter") }}
  {{ $filter_opts := (slice "Box" "Lanczos" "CatmullRom" "MitchellNetravali" "Linear" "NearestNeighbor") }}
  {{ if not (in $filter_opts .) }}
    {{ partial "hri/private/utils/options-error" (dict 
      "var" "resample_filter"
      "val" .
      "opts" (delimit $filter_opts ", ")
      "ctx" $.error_ctx
    ) }}
  {{ else }}
    {{ $s.SetInMap "params" "resample_filter" . }}
  {{ end }}
{{ end }}

{{ with .hint | default $meta.hint | default ($ctx.Param "image.hint") }}
  {{ $hint_opts := (slice "picture" "photo" "drawing" "icon" "text") }}
  {{ if not (in $hint_opts . ) }}
    {{ partial "hri/private/utils/options-error" (dict 
      "var" "hint"
      "val" .
      "opts" (delimit $hint_opts ", ")
      "ctx" $.error_ctx
    ) }}
  {{ else }}
    {{ $s.SetInMap "params" "hint" . }}
  {{ end }}
{{ end }}

{{with .anchor | default $meta.anchor | default ($ctx.Param "image.anchor") }}
  {{ $anchor_opts := (slice "Smart" "Center" "TopLeft" "Top" "TopRight" "Left" "Right" "BottomLeft" "Bottom" "BottomRight") }}
  {{ if not (in $anchor_opts .) }}
    {{ partial "hri/private/utils/options-error" (dict 
      "var" "anchor"
      "val" .
      "opts" (delimit $anchor_opts ", ")
      "ctx" $.error_ctx
    ) }}
  {{ else }}
    {{ $s.SetInMap "params" "anchor" . }}
  {{ end }}
{{ end }}

{{ with .background_color | default $meta.background_color | default ($ctx.Param "image.background_color") }}
  {{ $hex := findRE `^#([A-Fa-f0-9]{6}|[A-Fa-f0-9]{3})$` . }}
  {{ if not $hex }}
    {{ partial "hri/private/utils/options-error" (dict 
      "var" "background_color"
      "val" .
      "opts" "3 or 6 digit hex color code"
      "ctx" $.error_ctx
    ) }}
  {{ else }}
    {{ $s.SetInMap "params" "background_color" . }}
  {{ end }}
{{ end }}

{{ return $s.Get "params" }}
