{{- /*
  figure.html
  Takes inputs and page context.
  - Passes inputs to figure-params partial for processing
  - sends params to 2x partials for figure tag generation
  - inbetween these to partials is the image partial ()

  @author @sean-au

  @context . Context

  @access private

  @example - Go Template
  {{ partial "figure" (dict "src" "image.jpg" "alt" "alt text") }}

*/ -}}
{{- $params := false -}}
{{- $imageParams := false -}}
{{- with partial "hri/private/figure-params" . -}}
  {{- $params = .params -}}
  {{- $imageParams = .imageParams }}
{{- end -}}
{{- partial "hri/private/figure-tag-top" $params }}
{{- partial "image" $imageParams -}}
{{- partial "hri/private/figure-tag-bottom" $params }}
