{{- /*
  figure.html
  Takes inputs and page context.
  - Passes inputs to figure-params partial for processing
  - sends params to 2x partials for figure tag generation
  - inbetween these to partials is the image partial ()

  @author @sean-au

  @context . Context from a page template, figure/image partial, or render hook partial.

  @access public

  @example - Go Template
  {{ partial "figure" (dict "src" "image.jpg" "alt" "alt text") }}

*/ -}}
{{- /* process figure params */ -}}
{{- $figureParams := partial "hri/private/figure-params" . -}}
{{- /* add figure=true to image params */ -}}
{{- $imageParams := merge . (dict "figure" true) -}}
{{- $imageParams := merge $imageParams (dict "caption" $figureParams.caption) -}}
{{- /* call 3 partials for each part of figure */ -}}
{{- partial "hri/private/figure-tag-top" $figureParams }}
{{- partial "image" $imageParams -}}
{{- partial "hri/private/figure-tag-bottom" $figureParams }}
