{{- /* set variables */ -}}
{{- $img := "" }}

{{- if eq .Type "global" -}}
  {{- /* global resource */ -}}
  {{- $img = resources.Get .src -}}
{{- else -}}
  {{- /* page resource */ -}}
  {{- $img = .page.Resources.GetMatch .src -}}
{{- end -}}
{{- if not $img }}
  {{- warnf "No image resource found at %s%s" .page.RelPermalink .src -}}
{{- end -}}
{{- $srcsets := slice -}}
{{- $widths := slice -}}
{{- $fillRatio := 0 -}}
{{- /* calculate fill ratio, if .fillRatio is provided */ -}}
{{- if .fillRatio -}}
  {{- /* height to width ratio of .fillRatio */ -}}
  {{- /* numbers must be converted to float before division or they will create an answer of 0 */ -}}
  {{- $fillRatio = div (index .fillRatio 1 | float) (index .fillRatio 0 | float) -}}
{{- end -}}
{{- /*********************************************************************
  **** if .width present for pixel density srcset                        *
  **** produce array [{desc: "1x", width: 300},{desc: "2x", width: 600}] *
  ************************************************************************/ -}}
{{- if .width -}}
  {{- $densities := .densities | default (.page.Param "image.densities") -}}
  {{- $densities = sort $densities -}}
  {{- range $density := $densities }}
    {{- $widths = $widths | append (slice
      (dict
      "desc" (printf "%dx" $density)
      "width" (mul $.width $density)
      )) -}}
  {{- end -}}
{{- else -}}
{{/* else produce responsive srcset
  * produce array [{desc: "300w", width: 300},{desc: "600w", width: 600}]
*/}}
  {{- $userWidths := .widths | default (.page.Param "image.widths") -}}
  {{- $userWidths = sort $userWidths -}}
  {{- range $userWidth := $userWidths }}
    {{- $widths = $widths | append (slice
      (dict
      "desc" (printf "%dw" $userWidth)
      "width" $userWidth
      )) -}}
  {{- end -}}
{{- end -}}


{{- $options := slice }}
{{ with partial "image-includes/processing-options" (dict "partial" . "img" $img) -}}
  {{- $options = . -}}
{{- end -}}
{{- $widthVars := (dict
  "partial" .
  "widths" $widths
  "img" $img
  "options" $options
  ) -}}
{{- with partial "image-includes/generate-widths" $widthVars -}}
  {{- partial "image-includes/picture-tag.html" (dict "partial" $ "img" $img "picture" .) -}}
{{ end }}


