{{- /* set variables */ -}}
{{- $img := false }}

{{- if eq .Type "global" -}}
  {{- /* global resource */ -}}
  {{- $img = resources.Get .src -}}
{{- else -}}
  {{- /* page resource */ -}}
  {{- $img = .page.Resources.GetMatch .src -}}
{{- end -}}
{{- if not $img }}
  {{- errorf "No image resource found at %s%s" .page.RelPermalink .src -}}
{{- end -}}
{{- /* processing options */ -}}
{{- $widths := slice -}}
{{- $fillRatio := false -}}
{{- $options := slice }}
{{ with partial "image-includes/processing-options" (dict "partial" . "img" $img) -}}
  {{- $options = .options -}}
  {{- $widths = .widths -}}
  {{- $fillRatio = .fillRatio -}}
{{- end -}}
{{- /* generate image widths */ -}}
{{- $widthVars := (dict
  "partial" .
  "widths" $widths
  "fillRatio" $fillRatio
  "img" $img
  "options" $options
  ) -}}
{{- with partial "image-includes/generate-widths" $widthVars -}}
  {{- /* generate picture tag */ -}}
  {{- partial "image-includes/picture-tag.html" (dict "partial" $ "img" $img "picture" .) -}}
{{- end -}}


