{{- /*
  figure.html
  Takes inputs and page context.
  - Passes inputs to figure-params partial for processing
  - sends params to 2x partials for figure tag generation
  - inbetween these to partials is the image partial ()

  @author @sean-au

  @context . Context from a page template, figure/image partial, or render hook partial.

  @access public

  @example - Go Template
  {{ partial "figure" (dict "src" "image.jpg" "alt" "alt text") }}

*/ -}}

{{- $params := . -}}
{{- if not $params.common.processed -}}
  {{- $common := partial "hri/private/params/common.html" (merge $params (dict "partial" "figure")) -}}
  {{- $params = merge $params (dict "common" $common) -}}
{{- else -}}
  {{- $params = merge $params (dict "common" (dict "partial" "figure" )) -}}
{{- end -}}
{{- $figure_params := partial "hri/private/params/figure" $params -}}
{{- $params = merge $params (dict "figure" $figure_params) }}

{{- partial "hri/private/print/figure-set" $params -}}
  
