{{/*
  figure-params.html
  - Some inputs default to page/site params

  @author @sean-au

  @context . Context (Map of inputs from figure partial

  @return Map with .params (figure) and .imageParams (for image partial)

  @access private

  @example - Go Template
  {{ partial "hri/private/figure-params" . }}
*/}}

{{ $params := dict }}
{{ $imgParams := dict }}

{{  with .page.Resources.GetMatch (print .src)   }}
  {{/* add page resource image params to variable if image is page resource */}}
  {{ $imgParams = .Params }}
{{ end }}

{{/*********************************************
  ** these params have defaults               **
  **********************************************/}}
{{ $link := .link | default $imgParams.link | default (.page.Param "image.link") }}
{{ $target := .target | default $imgParams.target | default (.page.Param "image.target") }}
{{ $rel := .rel | default $imgParams.rel | default (.page.Param "image.rel") }}
{{ $figureClass := .figureClass | default $imgParams.figureClass | default (.page.Param "image.figureClass") }}
{{ $figCaptionClass := .figCaptionClass | default $imgParams.figureCaptionClass | default (.page.Param "image.figCaptionClass") }}
{{ $figureTitleH := .figureTitleH | default $imgParams.figureTitleH | default (.page.Param "image.figureTitleH") }}



{{/*********************************************
  ** default open http links new window       **
  ** use relref for internal links            **
  **********************************************/}}

{{ if hasPrefix $link "http" }}
  {{ $target = $target | default "_blank" }}
  {{ $rel = $rel | default "noopener noreferrer" }}
{{ else }}
  {{ $link = relref .page $link }}
{{ end }}

{{/* merge params */}}

{{ $params = merge $params (dict
  "target" $target
  "rel" $rel
  "link" $link
  "figureClass" $figureClass
  "figCaptionClass" $figCaptionClass
  "figureTitleH" $figureTitleH
  )}}

{{/************************************
  ** these params are passed through **
  *************************************/}}
{{ $params = merge $params (dict
  "figureTitle" .figureTitle
  "caption" .caption
  "attr" .attr
  "attrLink" .attrLink
  )}}


{{ return $params  }}
