{{/*
  local-widths.html
  Generates a .picture map of the image resized to different widths

  @author @sean-au

  @context . Context from generate widths partial

  @return Map including . .picture added

  @access private

  @example - Go Template
  {{ partial "hri/private/local-widths" . }}
*/}}



{{/**********************************
  **** loop over each image format ****
  *************************************/}}
{{ $params := . }}
{{ $picture := dict }}
{{ $options := .options }}

{{ range $index, $format:= .formats }}
  {{/* add format to options array (for format transformation) if not original */}}
  {{ if ne $format "original" }}
    {{ $options = $options | append $format }}
  {{ end }}
  {{/* change options array into space delimited string. 
        new options string, srcset and src variables created so they are unique to this iteration */}}
  {{ $optionsString := delimit $options " " }}
  {{/*********************************
    ** loop over each width         **
    **********************************/}}
  {{ $srcset := slice }}
  {{ $src := false }}
  {{ $placeholder := false }}
  {{ range $index, $width := $.widths }}
    {{ $imgResized := "" }}
    {{/* output images with altered aspect ratio, if .fillRatio is provided */}}
    {{ if $.fillRatio }}
      {{/* resulting fillHeight must be converted to integer for use with image resize */}}
      {{ $fillHeight := mul ($width.width | float) $.fillRatio | int }}
      {{/* resize image with fill option */}}
      {{ $imgResized = $.img.Fill (printf "%dx%d %s %s %s" $width.width $fillHeight $optionsString) }}
    {{ else }}
      {{/* do standard image resize */}}
      {{ $imgResized = $.img.Resize (printf "%dx %s" $width.width $optionsString) }}
    {{ end }}
    {{/* add image to srcset array with format "/path/image.jpg 100w" or "/path/image.jpg 1x"  */}}
    {{ $srcset = $srcset | append (printf "%s %s" $imgResized.RelPermalink $width.desc) }}
    {{/* if .width and 1x density (First iteration), add image to src variable for use as fallback */}}
    {{ if eq $format "original" }}
      {{ if eq $index 0}}
        {{/* smallest image width for placeholder generation */}}
        {{ $params = merge $params (dict "src" $imgResized) }}
        {{ with partial "hri/private/generate-placeholder" $params }}
          {{ $placeholder = . }}
        {{ end }}
      {{ end }}
      {{/* add smallest image to src for screen density srcset */}}
      {{ if $.width }}
        {{ if eq $index 0}}
          {{ $src = $imgResized }}
        {{ end }}
      {{ else if eq (len $.widths) (add $index 1) }}
        {{/* else largest width (last iteration), add image to src variable for use as fallback */}}
        {{ $src = $imgResized }}
      {{ end }}
    {{ end }}
  {{ end }}
  {{/* convert srcset array into a string, delimit with , between each image */}}
  {{ $srcset := delimit $srcset ", " }}
  {{/* add $srcset and $src to map {original: {srcset: $srcset, src: $src}, webp: {srcset: $srcset, src: $src}, etc. */}}
  {{ $picture = merge $picture (dict $format (dict "weight" $index "format" $format "srcset" $srcset "src" $src "placeholder" $placeholder)) }}
{{ end }}

{{/* merge and return params */}}

{{ $params = merge $params (dict "picture" $picture) }}
{{ return $params }}
