{{/*
  options-error

  @author @sean-au

  @context (dict 
    "message" (string) // error message 
    "options" (string) // correct options
    "var" (string) // variable name in error
    "ctx" (map) // ctx including .ctx and .img
    )

  @access private

  @example - Go Template
    {{ partial "hri/private/options-error" (dict 
    "var" "fill_ratio array item"
    "value" .
    "options" "2x integers in an array/slice"
    "ctx" $params
  ) }}

*/}}

{{ $message := printf "Invalid %s value of \"%v\" for image %s on page %s. Valid options are %s." .var .value .ctx.img.RelPermalink .ctx.ctx.RelPermalink .options }}
{{ $error := partial "hri/private/utils/errorf" $message }}

{{ return true }}

