{{/*
  params.html
  Takes inputs and page context.
  - Processes some inputs
  - Some inputs default to page/site params
  - Some inputs passed through
  - page context passed through
  Creates a new context for other partials to use

  @author @sean-au

  @context . Context from image partial

  @return Map including .img, .page and various inputs

  @access private

  @example - Go Template
  {{ partial "hri/private/params" . }}
  
*/}}


{{ $params :=  . }}
{{ $params = merge $params (dict "page" .page) }}


{{ $type := .type | default (.page.Param "image.type") }}
{{- $img := false }}
{{- if eq $type "global" -}}
  {{- /* global resource */ -}}
  {{- $img = resources.Get .src -}}
{{- else -}}
  {{- /* page resource */ -}}
  {{- $img = .page.Resources.GetMatch (print .src)   -}}
{{- end -}}
{{- if not $img }}
  {{- $message := "No image resource found for image \"%s\" on page %s." .src  .page.RelPermalink  -}}
  {{ partial "hri/private/errorf" $message }}
{{- end -}}
{{ $params = merge $params (dict "img" $img) }}

{{/* everything above this line must stay above this line for error messages to work as they use these variables */}}

{{/* ***************************
  ** set params               **
  ******************************/}}
{{ $fillRatio := .fillRatio | default (.page.Param "image.fillRatio") }}
{{- with $fillRatio -}}
  {{- if reflect.IsSlice . -}}
    {{- range . -}}
      {{- if ne (printf "%T" .) "int" }}
        {{ partial "hri/private/options-error" (dict 
          "var" "fillRatio array item"
          "value" .
          "options" "2x integers in an array/slice"
          "ctx" $params
        ) }}
      {{- end -}}
    {{- end -}}
  {{- else -}}
    {{ partial "hri/private/options-error" (dict 
      "var" "fillRatio"
      "value" .
      "options" "2x integers in an array/slice"
      "ctx" $params
    ) }}
  {{- end -}}
  {{- /* height to width ratio of .fillRatio */ -}}
  {{- /* numbers must be converted to float before division or they may create an answer of 0 */ -}}
  {{- $fillRatio = div (index . 1 | float) (index . 0 | float) -}}
{{- end -}}
{{ $params = merge $params (dict "fillRatio" $fillRatio) }}





{{- /*********************************************************************
  **** if .width present for pixel density srcset                        *
  **** produce array [{desc: "1x", width: 300},{desc: "2x", width: 600}] *
  ************************************************************************/ -}}

{{ $widths := .widths | default (.page.Param "image.widths") }}
{{ $width := .width | default (.page.Param "image.width") }}
{{- if $width -}}
  {{- if ne (printf "%T" .width) "int" }}
    {{ partial "hri/private/options-error" (dict 
      "var" "width"
      "value" .
      "options" "an integer"
      "ctx" $params
    ) }}
  {{- end -}}
  {{- $densities := .densities | default (.page.Param "image.densities") -}}
  {{- $densities = sort $densities -}}
  {{ $widths = slice }}
  {{- range $density := $densities }}
    {{- $widths = $widths | append (slice
      (dict
      "desc" (printf "%dx" $density)
      "width" (mul $.width $density)
      )) -}}
  {{- end -}}
{{- else if $widths -}}
{{/* else produce responsive srcset
  * produce array [{desc: "300w", width: 300},{desc: "600w", width: 600}]
*/}}
  {{- with $widths -}}
    {{- if reflect.IsSlice . -}}
      {{- range . -}}
        {{- if ne (printf "%T" .) "int" }}
          {{ partial "hri/private/options-error" (dict 
            "var" "widths array item"
            "value" .
            "options" "2x integers in an array/slice"
            "ctx" $params
          ) }}
        {{- end -}}
      {{- end -}}
    {{- else -}}
      {{ partial "hri/private/options-error" (dict 
        "var" "width array"
        "value" .
        "options" "2x integers in an array/slice"
        "ctx" $params
      ) }}
    {{- end -}}
  {{- end -}}
  {{- $widths = sort $widths -}}
  {{ $widthsArray := slice }}
  {{- range $width := $widths }}
    {{- $widthsArray = $widthsArray | append (slice
      (dict
      "desc" (printf "%dw" $width)
      "width" $width
      )) -}}
  {{- end -}}
  {{ $widths = $widthsArray }}
{{- end -}}
{{ $params = merge $params (dict 
  "width" $width
  "widths" $widths) }}

  
{{ $suppressWidthWarning := .suppressWidthWarning | default (.page.Param "image.suppressWidthWarning") }}
{{ $params = merge $params (dict "suppressWidthWarning" $suppressWidthWarning) }}


{{ $formats := .formats | default (.page.Param "image.formats") }}
{{ with $formats }}
  {{- $formatOpts := (slice "original" "bmp" "gif" "jpeg" "jpg" "png" "tif" "tiff" "webp") }}
  {{- if reflect.IsSlice . -}}
    {{- range . -}}
      {{- if not (in $formatOpts .) -}}
        {{ partial "hri/private/options-error" (dict 
          "var" "formats array item"
          "value" .
          "options" (delimit $formatOpts ", " " and ")
          "ctx" $params
        ) }}
        {{- end -}}
    {{- end -}}
  {{- else -}}
    {{ partial "hri/private/options-error" (dict 
        "var" "formats array"
        "value" .
        "options" "array of image formats"
        "ctx" $params
      ) }}
  {{ end }}
{{ end }}
{{ $params = merge $params (dict "formats" $formats) }}

{{ $provider := false }}
{{ $providerParam := .provider | default (.page.Param "image.provider") }}
{{ with $providerParam }}
  {{- $providerOpts := (slice "netlify") }}
  {{- if in $providerOpts . -}}
      {{ $provider = $providerParam }}
  {{ else }}
    {{ partial "hri/private/options-error" (dict 
      "var" "provider"
      "value" .
      "options" (delimit $providerOpts ", " " and ")
      "ctx" $params
    ) }}
  {{ end }}
{{ end }}
{{ $params = merge $params (dict "provider" $provider) }}



{{- $loading := .loading | default (.page.Param "image.loading") -}}
{{- with  $loading -}}
  {{- $loadingOpts := false -}}
  {{ if $.params.provider }}
    {{- /* disable lazy loading for external image processing */ -}}
    {{- $loadingOpts = (slice "auto" "lazy") -}}
  {{- else -}}
    {{- $loadingOpts = (slice "auto" "lazy" "lazysizes") -}}
  {{- end -}}
  {{- if not (in $loadingOpts .) -}}
    {{ partial "hri/private/options-error" (dict 
      "var" "loading"
      "value" .
      "options" (delimit $loadingOpts ", " " and ")
      "ctx" $params
    ) }}
  {{- end -}}
{{- end -}}
{{ $params = merge $params (dict "loading" $loading) }}



{{- $sizes := false -}}
{{- $sizesParam := .sizes | default (.page.Param "image.sizes") -}}
{{- with $sizesParam -}}
  {{ if not (eq (printf "%T" .) "string") }}
    {{ partial "hri/private/options-error" (dict 
      "var" "sizes"
      "value" .
      "options" "strings"
      "ctx" $params
    ) }}
  {{ end }}
{{ end }}
{{ if and $sizesParam (not $width) }}
  {{ if eq $sizesParam "lazysizes" }}
    {{ $sizes = `data-sizes="auto"` }}
  {{ else if eq $sizesParam "user" }}
    {{ $sizes = false }}
  {{ else }}
    {{ $sizes = printf `sizes="%s"` $sizesParam }}
  {{ end }}
{{- else if (not $width) -}}
  {{- $sizes = `sizes="100vw"` -}}
{{- end -}}
{{ $params = merge $params (dict "sizes" $sizes) }}


{{/* title defaults to figuretitle if set */}}
{{ $title := .title | default .figureTitle }}
{{ $params = merge $params (dict "title" $title) }}


{{ $figureTitle := .figureTitle }}
{{ $params = merge $params (dict "figureTitle" $figureTitle) }}





{{- $class := false -}}
{{- if .params.figure }}
  {{- $class := .partial.class | default (.partial.page.Param "image.figureImageClass") }}
{{ else }}
  {{- $class = .class | default (.page.Param "image.class") -}}
{{- end -}}
{{- if or 
  (eq $sizes "lazysizes")
  (eq $loading "lazysizes") -}} 
  {{- $class = print $class " lazyload" -}}
{{ end }}
{{ $params = merge $params (dict "class" $class) }}



{{/* alt defaults to caption. If not caption or alt set, error. If suppressed, defaults to "image of [title]" */}}
{{- $alt := (.caption | markdownify | plainify) | default .alt -}}
{{- if not $alt -}}
  {{- erroridf "alt-error" "Alt text has not been provided for image %s on page %s" $img.RelPermalink .page.RelPermalink -}}
  {{- $alt = printf "Image of %s" $title -}}
{{- end -}}
{{ $params = merge $params (dict "alt" $alt) }}

{{/* ******************************
  ** placeholder variables       **
  *********************************/}}

{{ $placeholder := .placeholder | default (.page.Param "image.placeholder") }}
{{ $lqipDivFactor := .lqipDivFactor | default (.page.Param "image.lqipDivFactor") }}
{{ $lqipBlurAmount := .lqipBlurAmount | default (.page.Param "image.lqipBlurAmount") }}
{{ $gifDivFactor := .gifDivFactor | default (.page.Param "image.gifDivFactor") }}
{{ $params = merge $params (dict
  "placeholder" $placeholder
  "lqipDivFactor" $lqipDivFactor
  "lqipBlurAmount" $lqipBlurAmount
  "gifDivFactor" $gifDivFactor) }}







{{/* ******************************
  ** set options                 **
  *********************************/}}
{{/* set image processing options from image, page or site config */}}
{{ $options := slice }}
{{ $quality := .quality | default (.page.Param "image.quality") }}
{{ with $quality }}
  {{ if and (eq (printf "%T" .) "int") (and (ge . 1) (le . 100)) }}
    {{ $options = $options | append (printf "q%d" .) }}
  {{ else }}
    {{ partial "hri/private/options-error" (dict 
      "var" "quality"
      "value" .
      "options" "integers between 1-100 inclusive"
      "ctx" $params
    ) }}
  {{ end }}
{{ end }}
{{ $rotate := .rotate | default (.page.Param "image.rotate") }}
{{ with $rotate }}
  {{ if and (eq (printf "%T" .) "int") (and (ge . 1) (le . 360)) }}
    {{ $options = $options | append (printf "r%d" .) -}}
  {{ else }}
    {{ partial "hri/private/options-error" (dict 
      "var" "rotate"
      "value" .
      "options" "integers between 1-360 inclusive"
      "ctx" $params
    ) }}
  {{ end }}
{{ end }}
{{ $resampleFilter := .resampleFilter | default (.page.Param "image.resampleFilter") }}
{{ with $resampleFilter }}
  {{ $filterOpts := (slice "Box" "NearestNeighbor" "Linear" "Gaussian") }}
  {{ if in $filterOpts . }}
    {{ $options = $options | append . }}
  {{ else }}
    {{ partial "hri/private/options-error" (dict 
      "var" "resampleFilter"
      "value" .
      "options" (delimit $filterOpts ", ")
      "ctx" $params
    ) }}
  {{ end }}
{{ end }}
{{ $hint := .hint | default (.page.Param "image.hint") }}
{{ with $hint }}
  {{ $hintOpts := (slice "picture" "photo" "drawing" "icon" "text") }}
  {{ if in $hintOpts . -}}
    {{ $options = $options | append . }}
  {{ else -}}
    {{ partial "hri/private/options-error" (dict 
      "var" "hint"
      "value" .
      "options" (delimit $hintOpts ", ")
      "ctx" $params
    ) }}
  {{ end }}
{{ end }}
{{ $anchor := .anchor | default (.page.Param "image.anchor") }}
{{with $anchor }}
  {{ $anchorOpts := (slice "Smart" "Center" "TopLeft" "Top" "TopRight" "Left" "Right" "BottomLeft" "Bottom" "BottomRight") }}
  {{ if in $anchorOpts . }}
    {{ $options = $options | append  . }}
  {{ else }}
    {{ partial "hri/private/options-error" (dict 
      "var" "anchor"
      "value" .
      "options" (delimit $anchorOpts ", ")
      "ctx" $params
    ) }}
  {{ end }}
{{ end }}
{{ $params = merge $params (dict "options" $options) }}




{{ return $params }}
