{{- /*
  picture-tag.html
  Takes params including img and picture param and creates picture tag

  @author @sean-au

  @context . Context of $params from image partial

  @access private

  @example - Go Template
  {{ partial "hri/private/picture-tag" . }}
  
*/ -}}
<picture {{ with .id }}id="{{ . }}"{{ end }}>
{{- range sort .picture "weight" "desc" }}
  <source
  {{ if eq $.loading "lazysizes" }}
    data-srcset="{{ .srcset }}"
  {{- else -}}
    srcset="{{ .srcset }}"
  {{- end -}}
  {{- if eq .format "original" }}
    type="{{ $.img.MediaType }}"
  {{- else }}
    type="{{ printf "image/%s" .format }}"
  {{- end }}
  />
{{- end }}
{{- with .picture.original.src }}
  <img
  {{- if eq $.loading (or "auto" "lazy") }}
    loading="{{ $.loading }}"
  {{- end -}}
  {{- if eq $.loading "lazysizes" }}
    data-src="{{ .RelPermalink }}"
    {{- with $.picture.original.placeholder }}
    src="{{ . | safeURL }}"
    {{- end }}
  {{- else if $.provider }}
    src="{{ . }}"
    height="{{ $.img.Height }}"
    width="{{ $.img.Width }}"
  {{- else }}
    src="{{ .RelPermalink }}"
    height="{{ .Height }}"
    width="{{ .Width }}"
  {{- end }}
  {{- with $.class }}
    class="{{ . }}"
  {{- end -}}
  {{- with $.sizes }}
    {{ . | safeHTMLAttr }}
  {{- end }}
  {{- with $.alt }}
    alt="{{ . }}"
  {{- end }}
  {{- with $.title }}
    title="{{ . }}"
  {{- end }}
  />
{{ end  -}}
</picture>
