{{- /* default .shortcodeWrapperClass to page or site params if not set inline */ -}}
{{- $renderHookWrapperClass := .Page.Param "image.renderHookWrapperClass" -}}
{{- /* set widths */ -}}
{{- $widths := .Page.Param "image.renderHookWidths" | default (.Page.Param "image.shortcodeWidths") | default (.Page.Param "image.widths" ) -}}
{{- /* add neccessary shorcode params to image params */ -}}
{{- $params := (dict 
  "page" .Page 
  "src" .Destination 
  "alt" .PlainText 
  "title" .Title 
  "widths" $widths
  "renderHookWrapperClass" $renderHookWrapperClass
  ) -}}
{{ return $params }}
