{{/*
  render-hook-params
  generates params from render hook input.
  standard params are passed through

  @author @sean-au

  @context . Context from _render-image template

  @returns map of params

  @access private

  @example - Go Template
  {{ partial "render-hook-params" . }}

*/}}

{{/* extract image meta data for param below */}}
{{ $imgParams := dict }}
{{ with .Page.Resources.GetMatch .Destination }}
  {{ $imgParams := .Params }}
{{ end }}

{{/* default .shortcodeWrapperClass to page or site params if not set inline */}}
{{ $renderHookWrapperClass := $imgParams.renderHookWrapperClass | default (.Page.Param "image.renderHookWrapperClass") }}

{{/* add neccessary render-hook params to image params */}}
{{ $params := (dict 
  "page" .Page 
  "src" .Destination 
  "alt" .PlainText 
  "title" .Title 
  "renderHook" true
  "renderHookWrapperClass" $renderHookWrapperClass
  ) }}

{{ return $params }}
