{{- /*
  shortcode params
  generates params from shortcode input.
  some strings (comma separated arrays) are converted to arrays of integers
  standard params are passed through

  @author @sean-au

  @context . Context from image/figure shortcode

  @returns map of params

  @access private

  @example - Go Template
  {{ partial "shortcode-params" . }}

*/ -}}
{{- /* default .shortcodeWrapperClass to page or site params if not set inline */ -}}
{{- $shortcodeWrapperClass := .Params.shortcodeWrapperClass | default (.Page.Param "image.shortcodeWrapperClass") -}}
{{- /* add neccessary shorcode params to image params */ -}}
{{- $params := (dict 
  "page" .Page
  "name" .Name
  "shortcode" true
  "shortcodeWrapperClass" $shortcodeWrapperClass
  ) -}}
{{- /****************************************
  ** check for named params in shortcode **
  *****************************************/ -}}
{{- if .IsNamedParams -}}

  {{/* santize params (convert string-arrays and string-integers) */}}
  {{ $shortcodeParams := partial "hri/private/utils/sanitize-shortcode-params" .Params }}

  {{/* merge shortcode .Params map with $params map */}}
  {{ $params = merge $params $shortcodeParams }}

  {{/* if no widths provided, provide shortcodeWidths (if configured)
    else the image partial has its own default widths */}}
  {{ if not (.Get "widths") }}
    {{ $widths := site.Params.image.shortcodeWidths | default site.Params.image.widths }}
    {{ $params = merge $params (dict "widths" $widths ) }}
  {{ end }}

  {{- /* check for src if not throw error */ -}}
  {{- if not (.Get "src") -}}
    {{- errorf "The %q shortcode on page %s requires the 'src' named parameter. See %s" .Name .Page .Position -}}
  {{- end -}}

{{ else }}
{{/**************************************************************
  ** single positional parameter                               **
  ** this will generate an error as no alt has been provided,  **
  ** but the error can be suppressed if required               **
  ** alt may have been provided in page resource meta data     **
  ***************************************************************/}}
{{- /* if only 1 un named param in shortcode */ -}}
  {{- with (.Get 0) -}}
  {{- $params = merge $params (dict "src" .) -}}
  {{- end -}}
  {{- if ge (len .Params) 2 -}}
    {{- errorf "If using positional parameters, only 1 parameter can be provided (src)" -}}
  {{- end -}}
{{- end -}}

{{ return $params }}



