{{- if (eq (.Page.Param "image.renderhook") true) -}}
{{- $widths := .Page.Param "image.renderHookWidths" | default (.Page.Param "image.shortcodeWidths") | default (.Page.Param "image.widths" ) -}}
{{- $config := (dict 
  "page" .Page 
  "src" .Destination 
  "alt" .PlainText 
  "title" .Title 
  "widths" $widths
  ) -}}
{{- partial "image-includes/render-hook-template" $config -}}
{{- else -}}
  {{- /* page resource image with no transformations */ -}}
  {{ $image := .Page.Resources.GetMatch .Destination }}
  <img src="{{ $image.RelPermalink }}" alt="{{ .PlainText }}" {{ with .Title}} title="{{ . }}"{{ end }}>
{{- end -}} 
