{{ if or (eq site.Params.image.renderhook true) (.Page.Params.imageRenderHook true) }}
{{ $widths := site.Params.image.renderHookWidths | default (site.params.image.shortcodeWidths | default site.Params.image.widths ) }}
{{ $config := (dict 
  "page" .Page 
  "src" .Destination 
  "alt" .PlainText 
  "title" .Title 
  "widths" $widths
  ) -}}
{{ partial "image" $config }}
{{ else if (not (or site.Params.image.renderhook (.Page.Params.imageRenderHook false))) }}
<img src="{{.Destination }}" alt="{{ .PlainText }}" {{ with .Title }}title="{{ . }}"{{ end }}>
{{ end }} 
