{{ define "main" }}
<div class="container">
  <div class="row">
    <div class="col">
      <article>
        <header>
          <h1>{{ .Title }}</h1>
        </header>
       
      </article>
    </div>
  </div>
  <div class="row">
    {{ .Content }}
    {{ if ne .Params.disable_range true }}
    {{ range .Params.testImages }}
    <div class="col-md-6" id="{{ .id }}">
      <h2>{{ .title }}</h2>
      <p>{{ .subtitle }}</p>
      {{ $partial := .partial | default "picture" }}
      {{ with .params }}
        {{ $params := merge (dict "page" $) . }}
        {{ partial $partial $params }}
      {{ end }}
      <div id="{{ .id }}-results"></div>
    </div>
    {{ end }}
    {{ end }}
  </div>
</div>

{{ end }}
