{{ define "main" }}
<script>
  window.testImages = {{ .Params.testImages }}
</script>
<div class="container">
  <div class="row">
    <div class="col">
      <article>
        <header>
          <h1>{{ .Title }}</h1>
        </header>
        {{ .Content }}
        <div class="" id="js-debug"></div>
      </article>
    </div>
  </div>
  <div class="row">
    {{ range .Params.testImages }}
    <div class="col-md-6" id="{{ .id }}">
      <h2>{{ .title }}</h2>
      <p>{{ .subtitle }}</p>
      
      {{ $partial := .partial | default "image" }}
      {{ with .params }}
      {{ $params := (dict "page" $ "src" "test.jpg") }}
      {{ $params = merge $params . }}
      {{ partial $partial $params }}
      {{ end }}
      <div id="{{ .id }}-results"></div>
    </div>
    {{ end }}
  </div>
</div>
{{ end }}
